<% if ((post.original != false && !is_page() && theme.copyright) || post.original){ %>
<div class="article_copyright">
    <ul>
      <li><span class="copy-title"><%= __('post.title') %>:</span><%= post.title %></li>
      <li><span class="copy-title"><%= __('post.author') %>:</span><a title="<%=config.url%>"><%=config.author%></a></li>
<!--       <%if(theme.word_count){%> -->
<!--       <li><span class="copy-title"><%= __('post.word_count') %>:</span><span class="post-count"><%=wordcount(post.content) %></span></li> -->
<!--       <%}%> -->
      <li><span class="copy-title"><%= __('post.created_at') %>:</span><%= post.date.format("YYYY-MM-DD, HH:mm:ss") %></li>
      <li><span class="copy-title"><%= __('post.updated_at') %>:</span><%= post.updated.format("YYYY-MM-DD, HH:mm:ss") %></li>
      <li><span class="copy-title"><%= __('post.url') %>:</span><a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a></li>
      <li><span class="copy-title"><%= __('post.copyright') %>:</span><i class="fa fa-creative-commons"></i><%= __('post.copyright0') %> <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target = "_blank"><%= __('post.copyright1') %></a> <%= __('post.copyright2') %></li>
    </ul>
</div>
<% } %>
